[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false
name = "pytorch"

[packages]
easydict = "==1.7"
opencv-python = "*"
cython = "*"
scipy = "*"
pandas = "*"
pyyaml = "*"
json-tricks = "*"
scikit-image = "*"
tensorboardx = "*"
yacs = "*"
cffi = "*"
munkres = "*"
tqdm = "*"
autorootcwd = "*"
click = "*"
gradio = "*"
torch = {version="*", index = "pytorch"}
torchvision = {version="*", index = "pytorch"}
torchaudio = {version="*", index = "pytorch"}
onnx = "*"
onnxruntime = "*"
monai = {extras = ["all"], version = "*"}
jupyterlab = "*"
ipykernel = "*"
dvc = {extras = ["ssh"], version = "*"}
accelerate = "*"
diffusers = {extras = ["torch"], version = "*"}
datasets = {extras = ["vision"], version = "*"}
simpleitk = "*"

[dev-packages]

[requires]
python_version = "3.10"
